{% extends 'base.html' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body p-4">
          <h2 class="mb-2">Mot de passe oublié</h2>
          <p class="text-muted mb-4">
            Indique ton email, on t'envoie un lien pour réinitialiser ton mot de passe.
          </p>

          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label>Email</label>
              <input type="email" name="email" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">Envoyer le lien</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
