{% extends 'base.html' %}

{% load static %}

{% block title %}

Accueil

{% endblock %}

{% block content %}

<section class="container mt-5">

    <div class="p-5 text-center rounded hero">

        <h1>

            Bienvenue sur OM News

        </h1>

        <p>
            Toute l'actualité du mondeau même endroit.
        </p>
        <a href="/blog/"
           class="btn btn-primary btn-lg">
            Découvrez Toutes les actualités
        </a>

    </div>

</section>

{% endblock %}