{% load static %}
<footer class="footer mt-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h3>OM News</h3>

                <p>

                    Toute l'actualité en temps réel.

                </p>

            </div>

            <div class="col-lg-3">

                <h5>Navigation</h5>

                <ul>

                    <li>Accueil</li>

                    <li>Actualités</li>

                    <li>Catégories</li>

                </ul>

            </div>

            <div class="col-lg-3">

                <h5>Suivez-nous</h5>

                <i class="bi bi-facebook"></i>

                <i class="bi bi-twitter-x"></i>

                <i class="bi bi-instagram"></i>

            </div>

        </div>

    </div>

</footer>